<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/PHP_Rush_MVC/index.php/articles/index">Plongée &amp; Chocolat</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="/PHP_Rush_MVC/index.php/articles/search">Search</a>
                </li>
{% if groupname == "registred" %}
                <li>
                    <a class="page-scroll" href="/PHP_Rush_MVC/index.php/users/index">Profile</a>
                </li>
                <li>
                    <a class="page-scroll" href="/PHP_Rush_MVC/index.php/users/logout">Logout</a>
                </li>
{% elseif groupname == "writter" %}
                <li>
                    <a class="page-scroll" href="/PHP_Rush_MVC/index.php/articles/create">Create article</a>
                </li>
                <li>
                    <a class="page-scroll" href="/PHP_Rush_MVC/index.php/users/index">Profile</a>
                </li>
                <li>
                    <a class="page-scroll" href="/PHP_Rush_MVC/index.php/users/logout">Logout</a>
                </li>
{% elseif groupname == "admin" %}
                <li>
                    <a class="page-scroll" href="/PHP_Rush_MVC/index.php/articles/create">Create article</a>
                </li>
                <li>
                    <a class="page-scroll" href="/PHP_Rush_MVC/index.php/admin/index">Admin</a>
                </li>
                <li>
                    <a class="page-scroll" href="/PHP_Rush_MVC/index.php/users/logout">Logout</a>
                </li>
{% else %}
                <li>
                    <a class="page-scroll" href="/PHP_Rush_MVC/index.php/users/registration">Register</a>
                </li>
                <li>
                    <a class="page-scroll" href="/PHP_Rush_MVC/index.php/users/login">Login</a>
                </li>
{% endif %}
            </ul>
        </div>
    </div>
</nav>