{% extends "layout.html.twig" %}

{% block title %} Pages-Index ??? {% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<div>
				<h4 class="team-member text-danger">
					<p>404 Error</p>
				</h4>
				<div class="clearfix"></div>
					<div class="col-lg-12 text-center">
						<div id="success">
							<a href="/PHP_Rush_MVC/index.php/admin/categories/add">
								<button class="btn btn-xl">Create a new category</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
